<div class="row mt-3">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">Prisijungti prie sistemos</div>
            <div class="card-body">
                <form (ngSubmit)="onLogin(f)" #f="ngForm">
                    <div class="mb-3">
                        <label class="form-label" for="">El.pašto adresas</label>
                        <input type="text" name="email" class="form-control" [class.is-invalid]="!inputemail.valid && inputemail.touched" ngModel required maxlength="64" email #inputemail="ngModel">
                        <div class="helper-block " *ngIf="!inputemail.valid && inputemail.touched">
                            Elektroninis paštas yra privalomas, turi būti pateiktas validus adresas
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Slaptažodis</label>
                        <input type="password" name="password" class="form-control" [class.is-invalid]="!inputpassword.valid && inputpassword.touched" ngModel required minlength="6" #inputpassword="ngModel">
                        <div class="helper-block " *ngIf="!inputpassword.valid && inputpassword.touched">
                            Slaptažodis yra privalomas ir turi būti ne mažiau nei 6 simboliai
                        </div>
                    </div>
                    <button class="btn btn-success mt-3" [disabled]="!f.valid">Prisijungti</button>
                </form>
                <p class="mb-5 pb-lg-2 mt-4">Neturi prisijungimo? <a href="/auth/signin">Registruokis čia</a></p>
            </div>
        </div>
    </div>
